@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-4">Kütüphane Yönetim Paneli</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kullanıcı Yönetimi</h5>
                    <p class="card-text">Kullanıcıları ekle, düzenle ve yönet.</p>
                    <a href="/admin/users/index" class="btn btn-primary">Kullanıcıları Yönet</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kitap Yönetimi</h5>
                    <p class="card-text">Kitapları ekle, düzenle ve yönet.</p>
                    <a href="/admin/books/index" class="btn btn-primary">Kitapları Yönet</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kategori Yönetimi</h5>
                    <p class="card-text">Kategorileri ekle, düzenle ve yönet.</p>
                    <a href="/admin/categories/index" class="btn btn-primary">Kategorileri Yönet</a>

                </div>
            </div>
        </div>
    </div>
</div> 