@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Beykent Üniversitesi Kütüphanesi</h3>
    <p>Kütüphane web sitemizi ziyaret etmek için <a href="https://www.beykent.edu.tr/aday-ogrenci/beykentte-yasam/kutuphane" target="_blank">tıklayınız</a>.</p>
</div>
