@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Yeni Kullanıcı";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Yeni Kullanıcı Oluştur</h3>
                </div>
                <div class="card-body">
                    <form action="/Admin/Users/Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Password" class="form-label">Şifre</label>
                            <input type="password" name="Password" id="Password" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input asp-for="EmailConfirmed" class="form-check-input" />
                                <label asp-for="EmailConfirmed" class="form-check-label">Email Onaylı</label>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-save"></i> Kaydet
                            </button>
                            <a href="/admin/users/index" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Listeye Dön
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 